<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.cau.easyconnect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/easy_connect"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/easy_connect_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyConnect">
        <activity android:name=".Page_imageme"></activity>
        <activity android:name=".Page_mypage" />
        <activity android:name=".Page_signup2" />
        <activity android:name=".Page_find_information" />
        <activity android:name=".Page_sets" />
        <activity android:name=".Page_find_friends" />
        <activity android:name=".Page_menu" />
        <activity android:name=".Page_signup" />
        <activity android:name=".Page_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".WriteActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".DetailMainActivity" />
        <activity android:name=".UpdateActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="kr.ac.cau.easyconnect.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>